<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style-login.css">
    <title>Catalog Digital - Autentificare</title>
</head>
<body class="auth-page">

    <div class="auth-card" id="login-container">
        <h1>Bine ai revenit!</h1>
        <p>Introdu datele pentru a accesa catalogul.</p>

        <div id="login-form">
            <label for="username">Utilizator</label>
            <input type="text" id="username" class="input-field" placeholder="introduceti parola">

            <label for="password">Parolă</label>
            <input type="password" id="password" class="input-field" placeholder="introduceti parola">

            <button class="btn-login" onclick="handleLogin()">Conectare</button>
        </div>

    </div>

    <script>

        async function handleLogin() {
            const userVal = document.getElementById('username').value;
            const passVal = document.getElementById('password').value;
            try {
                const response = await fetch('/api/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ username: userVal, password: passVal })
                });

                if (response.ok) {
                    const data = await response.json();
                    // redirectionare in functie de ce trimite serverul
                    if (data.rol === 'parinte') {
                        window.location.href = `/parinte/${data.id}`;
                    } else if (data.rol === 'elev') {
                        window.location.href = `/elev/${data.id}`;
                    } else if (data.rol === 'profesor') {
                        window.location.href = `/profesor/${data.id}`;
}
                } else {
                    alert("Date de autentificare invalide!");
                }
            } catch (error) {
                console.error("Eroare la login:", error);
                alert("A aparut o problema la conexiunea cu serverul.");
            }
        }
    </script>
</body>
</html>